.wrapper {
  width: 600px;
  display: flex;
  gap: 16px;
  flex-direction: column;
  padding-top: 100px;
}

.container {
  width: 600px;
  display: flex;
  gap: 16px;
  flex-direction: column;
  justify-content: center;
}

.emptyContainer {
  composes: container;
  height: calc(100vh - 344px);
  border: var(--color-text-secondary) 3px solid;
  border-radius: 32px;
}

.item_container {
  height: 80px;
}

.itemContainerEmpty {
  composes: item_container;
  display: flex;
  justify-content: center;
  align-items: center;
  border: var(--color-text-secondary) 3px solid;
  border-radius: 32px;
}

.main {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: calc(100vh - 536px);
  align-items: center;
  justify-content: center;
}

.mainEmpty {
  composes: main;
  border: var(--color-text-secondary) 3px solid;
  border-radius: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.total_container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 64px;
  margin-top: 24px;
  margin-right: 16px;
}

.scrolled {
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  gap: 16px 0;
  height: calc(100vh - 536px);
  width: 100%;
}

.scrolled::-webkit-scrollbar {
  width: 8px;
}

.scrolled::-webkit-scrollbar-track {
  background: #2F2F37;
}

.scrolled::-webkit-scrollbar-thumb {
  background: #8585AD;
}

.price_value {
  margin-right: 8px;
}

.currency_container {
  margin-right: 40px;
}

.currency_container>svg {
  width: 36px;
  height: 36px;
}