.container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 100%;
    min-height: 100vh;
    top: 0;
    left: 0;
}

.blur {
    position: fixed;
    width: 100%;
    min-height: 100vh;
    top: 0;
    left: 0;
    background-color: #000;
    opacity: 0.6;
}

.popup_container {
    position: absolute;
    width: 718px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--color-interface-modal-bg);
    border-radius: 40px;
    box-shadow: 0px 24px 32px rgba(0, 0, 0, 0.04), 0px 16px 24px rgba(0, 0, 0, 0.04), 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 0px 1px rgba(0, 0, 0, 0.04);
    border: 1px solid rgba(76, 76, 255, 0.2);
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    -ms-border-radius: 40px;
    -o-border-radius: 40px;
}

.title_container {
    height: 64px;
    width: 640px;
    display: flex;
    align-items: center;
    margin-top: 40px;
}

.title {
    font-weight: 700;
    font-size: 36px;
    line-height: 40px;
}

.icon_container {
    margin-left: auto;
}

.icon_container>svg {
    cursor: pointer;
}