:root {
    --color-interface-modal-bg: #1C1C21;
    --color-interface-bg: #131316;
    --color-text-standart: #F2F2F3;
    --color-text-secondary: #8585AD;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border-radius: 0;
    background-color: var(--interface-bg);
    overflow-y: hidden;
}